body{
	font-size: 25px;

}
.topDiv{
	margin: 25px;
	text-align: center;

}
.mainClock{
	background-color: #eeeeee;
    width: 400px;
    margin: auto;
    display: flex;
    font-size: 60px;
}
.hrClock, .minClock, .secClock{
	width: 33.3%;
    margin: auto;
    text-align: center;
}
.btnClock, .btnClock.focus, .btnClock:focus, .btnClock:hover.btnClock.focus, .btnClock:focus, .btnClock:hover{
	width: 100%;
	background-color: #012839;;
	color: #fff;
	margin: 5px;
}
@media (max-width: 500px){
	/*body{
		min-width: 300px;
		}*/
	.mainClock{
		width: 100%;
		min-width: 280px;
	}
}